{% extends 'firstApp/origin.html' %}
{% block 1 %}
{% if question %}
<form action="{% url 'firstApp:choices' question.id %}" method='post'>
    {% csrf_token %}
    <h3 style="margin-left: 45px;">{{question.content}}</h3>
    <ul>
        {% for answer in question.choice_set.all %}
        <h4>
            <input type="radio" name='choice' value="{{answer.id}}">
            {{answer.answer}}
            {% endfor %}
        </h4>
    </ul>
    {% else %}
    <h1>This question doesn't not exist!</h1>
</form>
{% endif %}
<p style="margin-left: 50px;"><input type="submit" value="submit"></p>
{% endblock %}