<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter</title>
    <style>
        .title {
            color: red;
            margin-left: 10px
        }

        .content {
            margin-left: 50px;
        }

        #one {
            font-size: 30px;
        }
    </style>
</head>

<body>
    <h2 class="title">Title</h2>
    <h2 class="content">{{letter.title}}</h2>
    <h2 class="title">Recipient's email</h2>
    <h2 class="content">{{letter.to}}</h2>
    <h2 class="title">Content</h2>
    <p class="content" id="one">{{letter.content}}</p>
</body>

</html>